ul {
    display: flex;
    gap: 20px;
    background-color: cadetblue;
    padding: 20px;
}

li {
    list-style: none;
    background-color: cornflowerblue;
    cursor: pointer;
    padding: 20px;
}

li:hover {
    background-color: darkblue;
    color: white;
}

.contenedor {
    background-color: violet;
    width: 100%;
    height: 600px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.hijo {
    background-color: orange;
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
}