/*
.objeto {
    width: 100%;
    height: 30px;
    background-color: blueviolet;
    margin-top: 10px;
}
*/    

/* Estilos para celulares */
@media (max-width: 600px) {
    .objeto {
        width: 100px;
        background-color: blue;
    }
}

/* Estilos para tablets */
@media (min-width: 768px) {
    .objeto {
        width: 300px;
        background-color: aqua;
    }
}

/* Estilos para PC y pantallas grandes*/
@media (min-width: 1024px) {
    .objeto {
        width: 600px;
        background-color: chartreuse;
    }
}