h1 {
    border: 1px solid black;
    /*padding: 20px;*/
    padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 60px;

    /*margin-top: 100px;*/

    margin: 100px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.hijos {
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}